@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap");
@import "../mixins/get-rem";

$font-family: "Manrope", sans-serif;

@mixin base-font($font-size, $font-weight, $letter-spacing, $line-height) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin typography-h1 {
  @include base-font(get-rem(36), 200, 0, 1.2);
}

@mixin typography-h2 {
  @include base-font(get-rem(16), 600, 0, 1.2);
}

@mixin typography-h3 {
  @include base-font(get-rem(14), 400, 0, 1.5);
}

@mixin typography-h3-bold {
  @include base-font(get-rem(14), 500, 0, 1.5);

  text-transform: uppercase;
}

@mixin typography-body {
  @include base-font(get-rem(14), 400, 0, 1.5);
}
