$color-black: #000;
$color-white: #fff;
$color-red: #ff004c;

$color-purple: #7f00ff;
$color-purple-hover: #4f039b;

$color-grey-dark: #3d4246;
$color-grey-light: #e5e6e7;

$color-primary: $color-purple;
$color-primary-hover: $color-purple-hover;